<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>conteudosimplementados3</display-name>
  
  <servlet>
  	<servlet-name>conteudosimplementados3</servlet-name>
  	<servlet-class> br.edu.ifgoiano.HenriqueGabrielBarbosa.ConteudosImplementadosServlet</servlet-class>
  </servlet>

	<servlet-mapping>
		<servlet-name>conteudosimplementados3</servlet-name>
		<url-pattern>/agora</url-pattern>
	</servlet-mapping>
	
	<!-- Direcionar página  -->
<error-page>
 <exception-type>java.time.format.DateTimeParseException</exception-type>
 <location>/erro/dataErro.html</location>
</error-page>


<error-page>
<exception-type>br.edu.ifgoiano.HenriqueGabrielBarbosa.ConversaoDePesoException</exception-type>
<location>/erro/erroNoPeso.html</location>
</error-page>

  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>